<div class="page-title">
  <h1>CLIENTES EN LISTA NEGRA</h1>
  <span style="color: #CF4421; font-size: 12px;" >&nbsp;<%= flash[:notice] %></span>
</div>

<table width="100%" border="0" cellspacing="1">
  <tr>
    <td>
      <table class="tabla" width="100%">
        <tr class="subtitulo">
          <td width="1%" class="bloque">&nbsp;</td>
          <td width="99%" bgcolor="#E8E8E8">LISTADO DE CLIENTES</td>
        </tr>
        <tr>
          <td width="1%">&nbsp;</td>
          <td>
            <div id="scroll">
                    <table class="resultado" align="center">
                      <tr class="titulot"  bgcolor="#E8E8E8">
                        <td>Identificador</td>
                        <td>Nombre Completo</td>
                        <td>CURP</td>
                        <td>Grupo</td>
                        <td>Credito / Identificador</td>
                      </tr>
                      <% @clientes.each do |cliente| %>
                      <tr>
                        <td><%= cliente.identificador %></td>
                        <td><%= cliente.nombre_completo %></td>
                        <td><%= cliente.curp %></td>
                        <%@credito = Credito.find_by_grupo_id(cliente.grupos[0].grupo_id) %>
                        <td>
                          <%if(cliente.grupos[0].activo == 1)%>
                            <%= cliente.grupos[0].nombre%>
                          <%else%>
                            &nbsp;
                          <%end%>
                        </td>
                        <td>
                          <%if @credito%>
                            <%= @credito.id%> / <%= @credito.identificador%>
                          <%else%>
                            &nbsp;
                          <%end%>
                        </td>
                      </tr>
                      <% end %>
                    </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>