<div class="page-title">
  <h1>LISTA NEGRA</h1>
  <span>Editar Registro</span>
  <span style="color: #CF4421; font-size: 12px;" >&nbsp;<%= flash[:notice] %></span>
</div>

<table width="100%" border="0" cellspacing="1">
  <tr>
    <td>
      <table class="tabla" width="100%">
        <tr class="subtitulo">
          <td width="1%" class="bloque">&nbsp;</td>
          <td colspan="2" bgcolor="#E8E8E8">DATOS DIA FESTIVO</td>
        </tr>
        <% for column in ListaNegra.content_columns %>
        <tr>
          <td>&nbsp;</td>
          <td width="10%" class="titulot"><%= column.human_name %>: </td>
          <td width="89%"class="subtitulot" ><%=h @lista_negra.send(column.name) %></td>
        </tr>
        <%end%>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table align="center">
        <tr>
          <td><%= link_to image_tag("/images/regresar2.gif"), lista_negras_path,  :class => "button" %></td>
          <td>&nbsp;o&nbsp;</td>
          <td><%= link_to image_tag("/images/editar.gif"), edit_lista_negra_path(@lista_negra),  :class => "button" %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>