<p>
  <b>Paterno:</b>
  <%=h @lista_negra.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%=h @lista_negra.materno %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @lista_negra.nombre %>
</p>

<p>
  <b>Curp:</b>
  <%=h @lista_negra.curp %>
</p>

<p>
  <b>Rfc:</b>
  <%=h @lista_negra.rfc %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @lista_negra.tipo %>
</p>

<p>
  <b>Observaciones:</b>
  <%=h @lista_negra.observaciones %>
</p>


<%= link_to 'Edit', edit_lista_negra_path(@lista_negra) %> |
<%= link_to 'Back', lista_negras_path %>