<% @user.password = @user.password_confirmation = nil %>
<div class="page-title">
  <h1>ADMINISTRACIÓN</h1>
  <span>Usuarios</span>
  <span>Cambiar Contraseña</span>
</div>
<div class="page-title-session">
  <span>Conectado como:&nbsp;</span>
  <span style="color: #252525; font-size: 14px; font-family:  Verdana, Arial;" ><%=current_user.login%></span>
</div>
<br />
<%= error_messages_for 'user' %>
<% form_tag  :action => 'change_password' do %>
<table width="100%" border="0" cellspacing="0" >
  <tr align="center" >
    <td colspan="3"><span style="color: #CF4421; font-size: 12px;" >&nbsp;<%= flash[:notice] %></span></td>
  </tr>
  <tr>
    <td>
      <table  align="center" class="tabla" border="0">
        <tr class="pregunta">
          <td>Nueva Contraseña</td>
          <td>&nbsp;</td>
          <td>Confirmar Contraseña</td>
        </tr>
        <tr>
          <td><%= password_field 'user', 'password'%></td>
          <td>&nbsp;</td>
          <td><%= password_field 'user', 'password_confirmation'%></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <table align="center">
      <tr>
        <td><%= image_submit_tag "/images/guardar.gif",  :class=> "button" %></td>
        <td>&nbsp;o&nbsp;</td>
        <td> <%= link_to image_tag("/images/cancelar.gif"), {:controller => "admin"}, :class=> "button"%></td>
      </tr>
    </table>
  </tr>
</table>
<% end %>