<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<div class="page-title">
  <h1>ADMINISTRACIÓN</h1>
  <span>Editar Usuarios</span>
  <span style="color: #CF4421; font-size: 12px;" >&nbsp;<%= flash[:notice] %></span>
</div>

<% form_for :user, @user, :url => { :action => "save_user", :id => @user.id } do |f| -%>
<table width="100%" border="0" cellspacing="1" >
  <tr>
    <td>
      <table class="tabla">
        <tr class="subtitulo">
          <td width="1%" class="bloque">&nbsp;</td>
          <td width="99%"colspan="3" bgcolor="#E8E8E8">DATOS GENERALES</td>
        </tr>
        <tr class="pregunta">
          <td>&nbsp;</td>
          <td>Login</td>
          <td>&nbsp;</td>
          <td>Nombre</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= f.text_field :login, :disabled => true%> <div id="mensaje"></div></td>
          <td>&nbsp;</td>
          <td><%= f.text_field :name,  :required => true%></td>
        </tr>
        <tr>
          <td colspan="4" bgcolor="#E8E8E8"></td>
        </tr>
        <tr class="pregunta">
          <td>&nbsp;</td>
          <td>Correo electrónico</td>
          <td>Domicilio Particular</td>
          <td>Teléfono Celular</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%=f.text_field :email, :required => true%></td>
          <td><%= f.text_field :direccion%></td>
          <td><%= f.text_field :tel_celular%></td>
        </tr>
        <tr>
          <td colspan="4" bgcolor="#E8E8E8"></td>
        </tr>
        <tr class="pregunta">
          <td>&nbsp;</td>
          <td>Contraseña</td>
          <td>&nbsp;</td>
          <td>Confirmación de la contraseña</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= f.password_field :password %></td>
          <td>&nbsp;</td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table align="center">
        <tr>
          <td><%= image_submit_tag "/images/guardar.gif", :onclick => "return comprobar();", :class=> "button" %></td>
          <td>&nbsp;o&nbsp;</td>
          <td><%= link_to image_tag("/images/cancelar.gif"), {:controller => "admin"}, :class=> "button"%></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>




