<h2>Creación de nuevo campo personalizado</h2><br />
<h4>(Sin espacios y sin caracteres especiales)</h4><br />
<% form_for :configuracion, @configuracion, :url => { :action => "create"}, :method => :put do |f| %>
  <%=f.label "Nombre del Campo"%><br />
  <%=f.text_field :llave %><br />
  <%=f.label "Valor"%><br />
  <%=f.text_field :valor%><br />
  <table>
        <tr>
          <td>
            <input title="inicio de sesion" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
          </td>
          <td>
           <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />
          </td>
        </tr>
  </table>
<%end%>