<div class="page-title">
  <h1>ADMINISTRACIÓN</h1>
  <span>Usuarios</span>
  <span><%= link_to image_tag("/images/user_add.png"), {:action => "new_user", :controller => "users", :id => @token}, {:title => "Agregar"}%></span>
<span style="color: #CF4421; font-size: 12px;" >&nbsp;<%= flash[:notice] %></span>
</div>

<table class="resultado" align="center">
  <tr class="titulot"  bgcolor="#E8E8E8">
    <td>Login</td>
    <td>Nombre</td>
    <td>Correo electrónico</td>
    <td colspan="3">Acciones</td>
  </tr>

  <%@usuarios.each do |user|%>
  <tr class="subtitulot">
    <td><%=h(user.login)%></td>
    <td><%=h(user.name)%></td>
    <td><%=h(user.email)%></td>
    <td>
      <img src="/images/space.png" alt="" title="" border="0" />
      <%= link_to image_tag("/images/user_edit.png"), {:action => "edit", :controller => "users", :id => user}, {:title => "Editar"}%>
      <img src="/images/space.png" alt="" title="" border="0" />
    </td>
    <td>
      <img src="/images/space.png" alt="" title="" border="0" />
      <%= link_to image_tag("/images/detail.png"), {:action => "show", :controller => "users", :id => user}, {:title => "Detalles"}%>
      <img src="/images/space.png" alt="" title="" border="0" />
    </td>
 </tr>
 <% end %>
</table>

<br />

<%#=link_to "Crear usuario", {:action => "new_from_admin", :controller => "users", :id => @token}, :class => 'boton'  -%>

<%= link_to image_tag("/images/regresar.gif"), {:action => "index", :controller => 'admin'},  :class => "button" %>
