<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<% form_for :user, @user, :url => { :action => "save_user", :id => @user.id } do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >ESTABLECER ESTATUS DE USUARIO</td>
    </tr>
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
           <td align="center">Nombre de usuario</td>
          <td align="center">Nombre completo del Empleado</td>
        </tr>
        <tr>
          <td align="center"><%= f.text_field :login, :disabled => true%> <div id="mensaje"></div></td>
          <td align="center"><%=h @user.nombre_completo%></td>
        </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
      <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" ></td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Estatus actual</td>
        </tr>
        <tr>
          <td align="center"> <%= f.select :situacion_id, Situacion.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%></td>
        </tr>
      </table></td>
     </tr>

    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "admin"-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>














